schedule==1.1.0
pyperclip==1.8.2
websocket-client
requests
tls-client
pypasser
names
colorama
curl_cffi
streamlit==1.21.0
selenium
fake-useragent
twocaptcha
https://github.com/AI-Yash/st-chat/archive/refs/pull/24/head.zip
pydantic
pymailtm
Levenshtein
retrying
mailgw_temporary_email
pycryptodome
boto3==1.26.114
EdgeGPT==0.1.23
EdgeGPT==0.1.23
openai==0.27.4
openai_whisper==20230314
pydub==0.25.1
SpeechRecognition==3.10.0
PyAudio==0.2.13